html {
	font-family: trajan;
}

h1 {
	display: inline-block;
	font-family: trajan;
	text-decoration: underline overline;
	color: #2175d8;
}

h2 {
	font-family: trajan;
}

h3 {
	font-family: trajan;
}

ul {
	list-style-type: none;
}

button {
	border: none;
	color:blue;
	width:30%;
}

a {
	color: #e34234;
}

a:hover {
	color: #2175d8;
}

.landingPage {
	background-image: url("./images/ruinedtemple.png");
	height: 100vh;
	background-repeat: no-repeat;
	background-color: #7DCEC7;
	background-position: 100% 0%;
}

.deleteBtn {
	opacity: 0;
}

.deleteBtn:hover {
	opacity: 1;
}

.landingText {
	color: white;
	text-align: center;
	background-color: teal;
	width: 40%;
	margin-left: 30%;
	margin-top: 05%;
	position: fixed;
}

.favGodQuestions {
	text-align: right;
	padding: 10px;
	margin-top:2%;
	margin-left: 25%;
	border-style: solid;
	box-shadow: 5px 10px;
	width: 50%;
	background-color: linen;
}

.godPic {
	float:left;
	margin: 40px;
	border-style: solid;
	border-color: #2175d8;
	height: 27vh;
	width: 40%;
}

.locPic {
	float:left;
	margin: 40px;
	border-style: solid;
	border-color: #2175d8;
	height: 27vh;
	width: 40%;	
}

.loginForm {
	margin-top:10%;
	float: left;
	border-style: solid;
	padding: 3%;
	margin-left: 25%;
	box-shadow: 5px 10px;
}


.signupForm {
	margin-top:10%;
	float: right;
	border-style: solid;
	padding: 3%;
	margin-right: 25%;
	box-shadow: 5px 10px;
}

.journeys {
	text-align: center;
	background-image: url('./images/marblebkg.jpg');
	height:100vh;
	width: 100%;
	padding-right: 10%;
}
.journeyMap {
	float: right;
	margin-top:3%;
	height:65vh;
	width:60%;
	border-style: solid;
	border-color: #2175d8;
}

.journeyText {
	float:left;
	margin-left: 7%;
	margin-top:5%;
	background-color:linen;
	border-style: solid;
	border-color: #2175d8;	
}

.profile {
	height: 100%;
	width: 30%;
	background-color: coral;
	text-align: center;
	border-style: solid;
	margin-top: 10%;
	margin-left: 35%;
	overflow: auto;
}

.storyMap {
	float: left;
	padding:1%;
	margin-top: 1%;
	height: 70vh;
	width: 22%;
	border-style: solid;
	border-color: #2175d8;
	display: inline-grid;
	background-color: linen;
	overflow: auto;
}


.storyShow {
	float: left;	
	padding:1%;
	margin-top:1%;
	height: 70vh;
	width: 22%;
	background-color: linen;
	overflow: auto;
	border-style: solid;
	border-color: #2175d8;
	display: inline-grid;
}

.storyDetail {
	float:left;		
	padding:1%;	
	margin-top:1%;	
	height: 70vh;
	width: 22%;
	background-color: linen;
	overflow: auto;	
	border-style: solid;
	border-color: #2175d8;
	display: inline-grid;
}

.commentContainer {
	/*position: fixed;*/
	/*position: bottom;*/
	/*margin-bottom: -23%;*/
	/*left: 70%;*/
	height: 70vh;
	width: 22%;
	overflow: auto;
	border-style: solid;
	border-color: #2175d8;	
	background-color: linen;
	display: inline-grid;
	/*float:left;*/
	padding:1%;
	margin-top:1%;
}

.locationDeets {
	text-align: center;
	background-color: linen;
	float:right;
	border-style: solid;
	border-color: #2175d8;
	overflow:auto;
	display: inline-grid;
}

.godShow {
	background-image: url('./images/marblebkg.jpg')
}

.godDeets {
	position:absolute;
	right:1%;
	height:85vh;
	width:40vh;
	overflow: auto;
	text-align: center;
	background-color: linen;
	float:right;
	border-style: solid;
	border-color: #2175d8;
}

.kewlGraph {
	background-image: url('./images/marblebkg.jpg');	
	float: left;
	width: 100%;
	padding-left:10%;
}

.stories {
	text-align: center;
	height: 100vh;
	width: 100%;
	background-image: url('./images/marblebkg.jpg');
}

.storyList {
	overflow: auto;
	text-align: center;
	background-color: linen;
	margin-left:35%;
	width: 30%;
	border-style: solid;
	border-color: #2175d8;
	padding:1%;
}

.containerBkg {
	height: 100%;
	width: 100%;
	background-image: url('./images/marblebkg.jpg');
}


.godsPage {
	text-align: center;
	background-image: url('./images/marblebkg.jpg');
	height:100vh;
	width: 100%;
}

.heroes {
	padding:1%;
	background-color:linen;
	border-style: solid;
	border-color: #2175d8;
	overflow: auto;
	margin-left:35%;
	text-align:center;
	height:80vh;
	width: 30%;
}


.locations {
	float: left;
	padding-left: 10px;
}

.grandMap {
	float: all;
	width: 2000px;
	height: 1000px;
}

.navBar {
    background-color: #2175d8;
    text-align: center;
    color: green;
	padding: 4px;
}

.navBar h1{
	color: white;
	padding-right: 50px;
}

.navBar a{
	opacity: .7;
	color: white;
	padding: 5px;
}

.navBar a:hover{
	color:cyan;
	opacity:1;
}

#inAs {
	color: white;
}