html {
	font-family: trajan;
}

h1 {
	display: inline-block;
	font-family: trajan;
	text-decoration: underline overline;
	color: #2175d8;
}

h2 {
	font-family: trajan;
}

h3 {
	font-family: trajan;
}

ul {
	list-style-type: none;
}

button {
	border: none;
	color:blue;
	width:30%;
}

a {
	color: #e34234;
}

a:hover {
	color: #2175d8;
}

.landingPage {
	background-image: url("./images/ruinedtemple.png");
	height: 100vh;
	background-repeat: no-repeat;
	background-color: #7DCEC7;
	background-position: 100% 0%;
}

.landingText {
	color: white;
	text-align: center;
	background-color: teal;
	width: 40%;
	margin-left: 30%;
	margin-top: 05%;
	position: fixed;
}

.navBar {
    background-color: #2175d8;
    text-align: center;
	padding: 5px;
	height:9vh;
}

.navBar h1{
	color: white;
	padding-right: 50px;
}

.navBar a{
	opacity: .7;
	color: white;
	padding: 5px;
}

.navBar a:hover{
	color:cyan;
	opacity:1;
}

.deleteBtn {
	opacity: 0;
	width:5px;
}

.deleteBtn:hover {
	opacity: 1;
}

.favGodQuestions {
	text-align: right;
	padding: 10px;
	margin-top:5%;
	margin-left: 20%;
	border-style: solid;
	box-shadow: 5px 10px;
	width: 55%;
	background-color: Bisque;
}

.godPic {
	align:center;
	margin: 40px;
	border-style: solid;
	border-color: #2175d8;
	height: 27vh;
	width: 40%;
}

.locPic {
	align:center;
	margin: 40px;
	border-style: solid;
	border-color: #2175d8;
	/* height: 27vh;
	width: 40%;	 */
}

.loginForm {
	margin-top:10%;
	float: left;
	border-style: solid;
	padding: 3%;
	margin-left: 25%;
	box-shadow: 5px 10px;
	background-color: Bisque;
}

.signupForm {
	margin-top:10%;
	float: right;
	border-style: solid;
	padding: 3%;
	margin-right: 25%;
	box-shadow: 5px 10px;
	background-color: Bisque;
}

.journeys {
	text-align: center;
	background-image: url('./images/marblebkg.jpg');
	height:100vh;
	width: 90%;
	padding-right: 10%;
}

.journeyMap {
	float: right;
	margin-top:3%;
	height:65vh;
	width:60%;
	border-style: solid;
	border-color: #2175d8;
}

.journeyText {
	float:left;
	margin-left: 7%;
	margin-top:5%;
	background-color:Bisque;
	border-style: solid;
	border-color: #2175d8;	
}

.profile {
	height: 60vh;
	width: 30%;
	background-color: Bisque;
	text-align: center;
	border-style: solid;
	position:absolute;
	margin-top: 5%;
	margin-left: 35%;
	overflow: auto;
}

.storyContainer {
display: flex;
flex-direction: row;
height: 100%;
width: 100%;
flex-wrap: wrap;
justify-content: center;
justify-content: space-between;
background-image: url('./images/marblebkg.jpg');
}

.storyMap {
	margin:2%;
	margin-top: 2%;
	height: 70vh;
	width: 20%;
	border-style: solid;
	border-color: #2175d8;
	background-color: Bisque;
	overflow: auto;
	flex-basis: 400px;
 
}

.storyShow {
	margin:2%;
	margin-top:2%;
	height: 70vh;
	width: 20%;
	background-color: Bisque;
	overflow: auto;
	border-style: solid;
	border-color: #2175d8;
	flex-basis: 400px;
 
}

.storyDetail {
	margin:2%;	
	margin-top:2%;
	height: 70vh;
	width: 20%;
	background-color: Bisque;
	overflow: auto;	
	border-style: solid;
	border-color: #2175d8;
	flex-basis: 400px;
 
}

.commentContainer {
	align:center;
	height: 12vh;
	width: 70%;
	overflow: auto;
	border-style: solid;
	border-color: #2175d8;	
	background-color: Bisque;
	margin-left:15%;
}

.locationDeets {
	text-align: center;
	background-color: Bisque;
	float:right;
	border-style: solid;
	border-color: #2175d8;
	overflow:auto;
	display: inline-grid;
	width:30%;
	height:85vh;
	margin-right:10%;
}

.godDeets {
	position:absolute;
	right:1%;
	height:85vh;
	width:40vh;
	overflow: auto;
	text-align: center;
	background-color: Bisque;
	float:right;
	border-style: solid;
	border-color: #2175d8;
}

.godShow {
	background-image: url('./images/marblebkg.jpg');
	width:90%;
	/*height:40%;*/
}

.kewlGraph {
	background-image: url('./images/marblebkg.jpg');	
	float: left;
	width: 100%;
	padding-left:10%;
}

.stories {
	text-align: center;
	height: 100vh;
	width: 100%;
	background-image: url('./images/marblebkg.jpg');
}

.storyList {
	overflow: auto;
	text-align: center;
	background-color: Bisque;
	margin-left:35%;
	width: 30%;
	border-style: solid;
	border-color: #2175d8;
	padding:1%;
}

.containerBkg {
	height: 100%;
	width: 100%;
	background-image: url('./images/marblebkg.jpg');
}


.godsPage {
	text-align: center;
	background-image: url('./images/marblebkg.jpg');
	height:100vh;
	width: 100%;
}

.heroes {
	padding:1%;
	background-color:Bisque;
	border-style: solid;
	border-color: #2175d8;
	overflow: auto;
	margin-left:35%;
	text-align:center;
	height:80vh;
	width: 30%;
}


.locations {
	float: left;
	padding-left: 10px;
}

.grandMap {
	float: all;
	width: 2000px;
	height: 1000px;
}

#inAs {
	color: white;
}